.alert-box{
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    display: none;
}

.list-group{
    border-radius: 7px;
    display: none !important;
}

.show {
    display: block !important;
}

#btn1{
    margin-top: 30px;
    margin-bottom: 10px;
}
